h3 {
  font-size: 42px;
}

.movies-list-wrap {
  width: 90%;
  margin: 0 auto 100px;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 2%;
  row-gap: 4%;
  width: 100%;
}
